<a href="https://colab.research.google.com/github/KryssyCo/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/blob/master/Children_in_Foster_Care_Data_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving national_afcars_trends_08thru17.csv to national_afcars_trends_08thru17.csv

In [15]:
df = pd.read_csv('national_afcars_trends_08thru17.csv')
print(df.shape)
df.head()

(70, 7)

     FY Populations  Counts  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0  2008     Adopted  55,300         NaN         NaN         NaN         NaN
1  2009     Adopted  57,200         NaN         NaN         NaN         NaN
2  2010     Adopted  53,500         NaN         NaN         NaN         NaN
3  2011     Adopted  50,900         NaN         NaN         NaN         NaN
4  2012     Adopted  52,000         NaN         NaN         NaN         NaN

In [21]:
df.drop(columns=['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']).T

                  0        1   ...                    68                    69
FY              2008     2009  ...                  2016                  2017
Populations  Adopted  Adopted  ...  Waiting for Adoption  Waiting for Adoption
Counts        55,300   57,200  ...               117,000               123,000

[3 rows x 70 columns]